#footer-content{
    display: flex;
    width: 100%;
    height: 15rem;
    align-items: center;
    justify-content: center;
}

#footer-content h3{
    font-size:1.5rem;
    color: var(--back-color);
    font-weight: 500;
}
